Body{
    box-sizing: border-box;
    margin: 0;
    background-color:#444;
    color:white;
    font-family:'Times New Roman', Times, serif;
}

.container{
    max-width:1440px;
}

.flex{
    display:flex;
    justify-content:center;
}

header{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80px;
    background-color:#888;
    font-family: 'Comic Neue', cursive;
    box-shadow: 0px 0px 8px #888;
}

.title{
    font-weight:bold;
    font-size: 30px;
    border-bottom: 2px solid #fff;
}

.image{
    text-align:center;
    margin-top:20px;
}
.image img{
    place-items:center;
    object-fit: contain;
    max-height:400px;
    max-width:100%;
    border-radius:20px;
}

.description_area{
    display:flex;
    margin-top: 20px;
}

.text_left{
    margin-right:30px;
    border-right:2px solid #888;
    padding-right:30px;
}

.text_left,
.text_right {
    text-align:justify;
}

.text_left div{
    margin-top:10px;
    padding-left:20px;
}
.text_right div{
    margin-top:10px;
    padding-right:20px;
}

footer{
    margin-top:20px;
}

.footer_area{
    display:flex;
    justify-content:center;
    align-items:center;
    height:20px;
    width:100%;
    background-color:#888;
    font-size:0.75em;
}

@media only screen and (max-width:600px){
    .description_area{
        flex-direction:column;
        border:0;
        padding:0;
    }

    .text_left{
        margin-right:0;
        padding-right: 0;
        border-right:0;
    }
    
    .text_left div{
        padding-left:0px;
    }

    .text_right div {
        padding-right:0;
    }

    .text_left,
    .text_right{
        padding-left:15px;
        padding-right:15px;
    }
}